<?xml version='1.0' encoding='utf-8'?>

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedemodb?useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">tfws.wow///POP()</property>

        <!-- JDBC connection pool (optional) -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>


        <!-- Logging SQL to console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Auto schema generation -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapped Entity -->
        <mapping class="com.study.hibernate.Hibernatedemo.models.IdCard"/>
        <mapping class="com.study.hibernate.Hibernatedemo.models.Student"/>
    </session-factory>
</hibernate-configuration>
